:host {
    display: block;
    background-color: #f8f9fa;
    min-height: 100vh;
}
  
mat-card {
    background-color: white;
    border: none;
}
  
.mat-mdc-card {
    --mdc-elevated-card-container-color: transparent;
}
  
button {
    text-transform: none !important;
}
  
mat-icon {
    height: 20px;
    width: 20px;
    font-size: 20px;
}